@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
   ::-webkit-scrollbar {
        @apply w-3 h-2;
    }

    ::-webkit-scrollbar-track {
        margin-block: .5em;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-200 rounded-full;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
