---
---

<button id="copy-code-btn" class="bg-neutral-800 appearance-none m-0 p-[0.3rem] absolute top-4 right-4 md:top-5 md:right-5 rounded-[0.25rem] cursor-pointer transition-all"></button>

<script type="module" is:inline>
    let isCopied = false;
    const copybtn = document.querySelector('#copy-code-btn')
    if (copybtn !== null) {
        copybtn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF"><path d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z"/></svg>';
        copybtn.addEventListener('click', async () => {
            isCopied = true;
            let code = document.querySelector('code');
            if (code !== null) {
                const range = document.createRange();
                range.selectNode(code);
                window.getSelection()?.removeAllRanges();
                window.getSelection()?.addRange(range);
                
                if (!navigator.clipboard) {
                    document.execCommand('copy');
                } else {
                    try {
                        await navigator.clipboard.writeText(range.toString())
                        copybtn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00FF00"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"/></svg>';
                    } catch (e) {
                        console.error(e);
                    }
                }
                window.getSelection()?.removeAllRanges();
        
                setTimeout(() => { 
                    isCopied = false;
                    copybtn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF"><path d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z"/></svg>';
                }, 1500)
            }
        }) 
    }   
    

    
</script>