---
import { Code } from "astro/components";

import type * as shiki from "shiki";

export interface Props {
  code: string;
  lang: shiki.Lang | shiki.ILanguageRegistration;
  theme?: string;
  id: string;
}

const { id, code, lang, theme = "github-dark" } = Astro.props;
---

<div id={id} class="my-4 relative no-select">
  <button title="Copy code" class="bg-neutral-800 code-copy-btn appearance-none m-0 p-[0.3rem] absolute top-4 right-4 z-10 md:top-5 md:right-5 rounded-[0.25rem] cursor-pointer transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF">
          <path d="M20 2H10c-1.103 0-2 .897-2 2v4H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2v-4h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM4 20V10h10l.002 10H4zm16-6h-4v-4c0-1.103-.897-2-2-2h-4V4h10v10z"/>
      </svg>
  </button>
  <Code code={code} lang={lang} theme={theme} />
</div>