---
import { Code } from "astro/components";
import CodeCopy from './CodeCopy.astro'

import type * as shiki from "shiki";

export interface Props {
  code: string;
  lang: shiki.Lang | shiki.ILanguageRegistration;
  theme?: string;
}

const { code, lang, theme = "github-dark" } = Astro.props;
---

<div class="my-4 relative">
  <CodeCopy />
  <Code code={code} lang={lang} theme={theme} />
</div>

<script is:inline>
  const code_containers = document.querySelectorAll(".astro-code");
  const code_blocks = document.querySelectorAll(".astro-code > code");
  if (code_containers != null) {
    code_containers.forEach(cc => {
      cc.style.borderRadius = "12px";
    })
  }
  if (code_blocks != null) {
    code_blocks.forEach(cb => {
      cb.style.fontFamily = "Roboto mono";
      cb.style.fontSize = "16px";
      cb.style.position = "relative";
      cb.style.top = "-16px";
    })
  }
</script>
