---
---

<h2 class="text-xl font-semibold tracking-wide mb-4">
   Comments
</h2>
<script
  is:inline
  src="https://giscus.app/client.js"
  data-repo="Daniel-Brai/Daniel_Brai"
  data-repo-id="R_kgDOI-69yA"
  data-category="General"
  data-category-id="DIC_kwDOI-69yM4CURHJ"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme={`${ sessionStorage.getItem("theme") === "dark" ? "transparent_dark" : "white"}`}
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
