---
import ProjectCard from "../components/ProjectCard.astro";
import { slugifyProject } from "../utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div>
  <h1 class="mt-7 text-3xl font-medium">Highlighted Projects</h1>
  <p class="mt-1.5 mb-8">Take a look at some of my best work at the moment!</p>
  <section
    class="mb-12 flex flex-col flex-wrap justify-center gap-5 sm:flex-row sm:items-center sm:gap-6"
  >
    {
      projects.map(({ data }) => (
        <ProjectCard
          href={`/projects/${slugifyProject(data)}`}
          frontmatter={data}
        />
      ))
    }
  </section>
  <div id="hire-cta" class="mb-20 text-center text-sm sm:text-base">
    <p>
      Am I a good fit for your team?: Take a look at my
      <a
        title="Daniel Brai's Resume"
        class="unset inline-flex underline underline-offset-2"
        href="/resume.pdf"
        download
      >
        <span>resume</span>
        <svg
          class="rotate-45 dark:fill-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          ><path
            d="M11 8.414V18h2V8.414l4.293 4.293 1.414-1.414L12 4.586l-6.707 6.707 1.414 1.414z"
          ></path></svg
        >
      </a>
    </p>
  </div>
</div>
