---
import "../styles/global.css";

import BaseLink from "../components/BaseLink.astro";
import BaseScript from "../components/BaseScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html class="theme-newspaper" lang="en">
  <head>
    <slot />
    <BaseLink />
    <BaseScript />
  </head>

  <body class="mx-auto min-h-screen max-w-3xl px-6 sm:px-8">
    <Header />
    <main id="main">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
